<div>

	<div class="f-self-center f-flexC f-row f-wrap f-m-center width100p">
		<button ng-click="filter.setAll(true)" class="margin5 btn btn-sm btn-primary">Select All</button>
		<button ng-click="filter.setAll(false)" class="margin5 btn btn-sm btn-primary">Clear All</button>
	</div>
	<i class='filterTip pull-right text-muted fa fa-question-circle'></i>

	<hr class="hr">
	<div class="f-flexC f-row f-wrap f-m-center">
		<button btn-checkbox class="btn margin5 btn-sm btn-default" type="button" ng-model="filter.people.included">People</button>
		<button btn-checkbox class="btn margin5 btn-sm btn-default" type="button" ng-model="filter.organizations.included">Organizations</button>
		<button btn-checkbox class="btn margin5 btn-sm btn-default" type="button" ng-model="filter.physicalObjects.included">Physical Objects</button>
		<button btn-checkbox class="btn margin5 btn-sm btn-default" type="button" ng-model="filter.concepts.included">Concepts</button>
		<button btn-checkbox class="btn margin5 btn-sm btn-default" type="button" ng-model="filter.jargon.included">Jargon</button>
		<button btn-checkbox class="btn margin5 btn-sm btn-default" type="button" ng-model="filter.disciplines.included">Disciplines</button>
		<button btn-checkbox class="btn margin5 btn-sm btn-default" type="button" ng-model="filter.activities.included">Activities</button>
		<button btn-checkbox class="btn margin5 btn-sm btn-default" type="button" ng-model="filter.locations.included">Locations</button>
		<button btn-checkbox class="btn margin5 btn-sm btn-default" type="button" ng-model="filter.contentTypes.included">Content Types</button>
	</div>
</div>