<button btn-checkbox class="btn margin5 btn-sm btn-default" type="button" ng-model="filter.people">People</button>
<button btn-checkbox class="btn margin5 btn-sm btn-default" type="button" ng-model="filter.organizations">Organizations</button>
<button btn-checkbox class="btn margin5 btn-sm btn-default" type="button" ng-model="filter.physicalObjects">Physical Objects</button>
<button btn-checkbox class="btn margin5 btn-sm btn-default" type="button" ng-model="filter.concepts">Concepts</button>
<button btn-checkbox class="btn margin5 btn-sm btn-default" type="button" ng-model="filter.jargon">Jargon</button>
<button btn-checkbox class="btn margin5 btn-sm btn-default" type="button" ng-model="filter.disciplines">Disciplines</button>
<button btn-checkbox class="btn margin5 btn-sm btn-default" type="button" ng-model="filter.activities">Activities</button>
<button btn-checkbox class="btn margin5 btn-sm btn-default" type="button" ng-model="filter.contentTypes">Content Types</button>