<div ng-controller="TabsDemoCtrl">

<iframe src="//www.youtube.com/embed/r-VL7NKJqcs"  height="360" width="640" frameborder="0"></iframe>
<iframe src="//www.youtube.com/embed/CN0jTnSROsk" width="640" height="360" frameborder="0" scrolling="no" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
  <tabset>
    <tab heading="Scale of the Universe">Static content</tab>
    <tab heading="Content Type" active="tab.active">
      {{tab.content}}
    </tab>
    <tab heading="The Humanities">
      {{tab.content}}
    </tab>
    <tab heading="Tool Terms">
      {{tab.content}}
    </tab>
  </tabset>

  <hr />
  <div ng-controller="buttonCtrl">
  


    <div ng-controller="LoginModalCtrl" class="">         
      <button class='btn btn-large' ng-click="Login.open()">Login/Sign up</button>
    </div>

    <div>         
      <button class='btn btn-large' ng-click="logout()">Logout</button>
    </div>

    <div>         
      <button class='btn btn-large' ng-click="loggedin()">logged in?</button>
    </div>

    <div>         
      <button class='btn btn-large' ng-click="test()">test auth route</button>
    </div>

    <div>         
      <button class='btn btn-large' ng-click="navigateToAddContent()">add content</button>
    </div>

    <div>         
      <button class='btn btn-large' ng-click="addTerm()">add term test</button>
    </div>

  </div>
</div>
