<h1>Add Library Content</h1>

<div>
    <accordion>
        <accordion-group heading="Identify Your Content">
            <div>
                Provide the content (select file, paste URL)
            </div>

            <div ng-controller="fileUploadCtrl">
              <input type="text" ng-model="myModelObj">
              <input type="file" ng-file-select="onFileSelect($files)" >
              <div ng-file-drop="onFileSelect($files)" ng-file-drag-over-class="optional-css-class"
                    ng-show="dropSupported">drop files here</div>
              <div ng-file-drop-available="dropSupported=true" 
                    ng-show="!dropSupported">HTML5 Drop File is not supported!</div>
              <button ng-click="upload.abort()">Cancel Upload</button>
            </div>
      
        </accordion-group>

        <accordion-group heading="Identify Relevant Terms">
            <div ng-controller="termSelectionCtrl">
                <div> 
                    Base Terms (scale of the universe, humanities, content type)
                </div>
                <div> 
                    Relevant terms based off of selected terms (query the database)
                </div>
                <div>
                    Selected Terms (tag content with these terms)
                </div>
                <div>
                    <tabset>
                        <tab heading="Scale of the Universe">Static content</tab>
                        <tab heading="Content Type" active="tab.active">
                            images and charts and graphs and stuff
                        </tab>
                        <tab heading="The Humanities">
                            arts and stuff
                        </tab>
                    </tabset>
                </div>
                <div> Manual Term Entry (can't find what you're looking for?)
                    <suggest on-select="addToSelected(data)" lang="{{displayLanguage}}"></suggest>
                    <p>Lang: {{displayLanguage}}</p>
                    <input type='text' ng-model='displayLanguage'>
                    <br>
                    Tag content with the following terms:
                    <div ng-repeat="term in terms">
                        <div class='dropdown'>
                            <a class='dropdown-toggle'>
                                <button class='btn'>{{term.name}}</button>
                            </a>
                            <ul class="dropdown-menu">
                                <li ng-click="removeFromSelected(term.mid)"><a>Remove</a></li>
                                <li><a>Focus Term</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </accordion-group>

        <accordion-group heading="Add Meta Information">
            <div>
                source, publisher, dates, locations
            </div>
        </accordion-group>

        <accordion-group heading="Initialize Content Fields">
            <div>
                Initialize Content (description, why it is valuable, facts...
            </div>
        </accordion-group>

    </accordion>
</div>


<div>
	<text-angular ta-toolbar="[['h1','h2','h3'],['bold','italics']]" ng-model="example"></text-angular>
</div>