

 <div class="container" ng-controller="exploreCtrl">
	<div class="row f-flexC f-m-center margin20">
	    <input ng-show="!displayOptions.addingNewTerm" type="text" class="form-control" ng-model="DBTerm" ng-change="findTerm()" typeahead-on-select="addToSelectedFromDB()" typeahead="term as term.name for term in typeAhead" placeholder="Type term name here">
	</div>

	<div>
	 
	    <button class='btn btn-default btn-xs' popover-template="app/filterPartial.html" ng-click="popoverOpen = !popoverOpen" popover-placement="right">
	        <i class="fa fa-filter"></i> 
	        <span ng-show='!popoverOpen'>open filter options</span>
	        <span class='text-danger' ng-show='popoverOpen'>close filter options</span>
	    </button>

	    <div ui-on-Drop="recievingHandler($data, contentTerms.related)" drop-channel="noneShallPass" drag-enter-class="droppable" class='well well-sm height200'>
	        <i class='pull-right text-muted fa fa-question-circle'></i>
	        <span ng-hide="contentTerms.related.length > 0" class="dn-fade text-muted background h3">related terms</span>
	        <div class="f-flexC f-row f-m-around f-wrap">
	            <button ui-draggable="true" on-drop-success="dropFromHandler($index,contentTerms.related)" drag="term" ng-repeat="term in contentTerms.related" class='dn-bounce above btn margin5 btn-default'>{{term.name}}</button>
	        </div>
	    </div>   
	  
    
	    <div ui-on-Drop="recievingHandler($data, contentTerms.selected)" drag-enter-class="droppable" class="well well-sm col-sm-6">
	        <i class='pull-right text-muted fa fa-question-circle'></i>
	        <div class="f-fleC f-row f-m-center">
	            <span ng-hide="contentTerms.selected.length > 0"class="dn-fade text-muted background h3">included terms</span>
	            <div class="f-flexC f-row f-m-around f-wrap">
	                <button ui-draggable="true" on-drop-success="dropFromHandler($index,contentTerms.selected)" drag="term" ng-repeat="term in contentTerms.selected" class='dn-bounce above btn margin5 btn-default'>{{term.name}}</button>
	            </div>
	        </div>
	    </div>
    
	    <div ui-on-Drop="recievingHandler($data, contentTerms.discarded)" drag-enter-class="droppable" class="well well-sm col-sm-6">
	        <i class='pull-right text-muted fa fa-question-circle'></i>
	        <div class="f-fleC f-row f-m-center">
	            <span ng-hide="contentTerms.discarded.length > 0" class="dn-fade text-muted background h3">excluded terms</span>
	            <div class="f-flexC f-row f-m-around f-wrap">
	                <button ui-draggable="true" on-drop-success="dropFromHandler($index, contentTerms.discarded)" drag="term" ng-repeat="term in contentTerms.discarded" class='dn-bounce above btn margin5 btn-default btn-xs'>{{term.name}}</button>
	            </div>
	        </div>
	    </div>
	   
	</div>
	<div>
		<button ng-click="findRelatedContent()" class="btn btn-default">Load content</button>
	</div>

</div>