

 <div ng-controller="exploreCtrl">
 	<input type='text' ng-blur="displayLanguage.set(lang)" ng-model="lang">
	<div ng-controller='termSelectionCtrl' ui-on-Drop="" >
		<div class="input-group col-sm-3 col-sm-offset-7">
		    <input type="text" class="form-control" ng-model="displayOptions.DBTerm" typeahead-on-select="addToSelectedFromDB()" typeahead="term as term.name for term in findTerm()" placeholder="type search term here">
		    <span class="input-group-addon"><i class="fa fa-search fa-fw"></i></span>
		</div>

	   	<ng-include class="col-sm-8 col-sm-offset-2 padding0" src="'app/shared/termSelectionPartial.html'"></ng-include>
	</div>
	<br>

	<div class="cardsContainer f-flexC f-row f-wrap f-m-around">
		<div class="f-flexC  f-column f-m-between cardContainer panel panel-default margin5" ng-repeat="content in returnedContent">
			<div class="panel-heading">
				<i class="fa fa-flag pull-right"></i>
				<i class="fa fa-ban pull-right"></i>
			    <i class="fa fa-eye pull-right"> 0</i>
                <br>
                <hr ng-show="content.title.length > 0" class="hr">
			    <h3 class="panel-title">{{content.title}}</h3>
			</div>
			<br>
			<div class="f-flexC f-column f-m-center f-c-center imgContainer">
				<a ng-href="content/{{content.UUID}}">
					<img ng-if="content.displayType === 'embed'" ng-src="img/{{content.savedAs}}">			
					<img ng-if="content.displayType === 'image' || content.displayType === 'webpage'" ng-src="img/submittedContent/{{content.savedAs}}">
				</a>
			</div>
			<tabset class='f-grow-1 f-flexC f-column margin10'>
				<tab heading="Terms">
					<div class="f-flexC f-row f-wrap f-m-center ">
						<button ng-repeat="term in content.terms"class="btn btn-default btn-sm margin5">{{term}}</button>
					</div>
				</tab>
				<tab ng-if="content.description.length > 0" heading="Description">
					<div ng-bind-html="content.description" class="margin10"></div>
				</tab>
				<tab ng-if="content.value.length > 0" heading="value">
					<div ng-bind-html="content.value" class="margin10"></div>
				</tab>
			</tabset>			
		</div>
	</div>
</div>