<h1 class="page-header">Add Library Content</h1>

<div class='col-sm-12' ng-controller="addingContentCtrl" class="container" >

    <form name="addContentForm">
        <accordion class='col-sm-7'>


    

    

    

    

    
            <accordion-group heading="Identify The Content">
                <h4 class='text-center'>Paste a URL below or choose a file to upload:</h4>
                <div ng-controller="fileSelectionCtrl" class="f-flexC f-row f-wrap f-m-around">
                    
                    <div class="f-flexC f-row f-wrap f-m-around f-c-center">
                        <div  ng-disabled="displaySettings.disableFileSelection" class="fileUpload btn btn-primary">
    
                            <span>Select File</span>
                            <input ng-disabled="displaySettings.disableFileSelection" type="file" class="upload" ng-file-select="onFileSelect($files)"/>
    
                        </div>
    
                        <input  class="form-control" id='disabledInput' ng-if="displaySettings.fileSelected" ng-model="displaySettings.fileName" disabled type="text"/>
    
                        <input  class="form-control" ng-if="!displaySettings.fileSelected" name="pasteURL" ng-model="contentObject.webURL" type="URL" ng-change="onURLChange()">
    
                        <button ng-show="displaySettings.optionSelected" class="btn fileUpload" ng-click="reset()">Reset</button>
                    </div>
                    
                    <small class="text-danger" ng-show="displaySettings.uploadNonImage">You may only upload images at this time.</small>
                    
                    <!-- TODO: support for dropping files, canceling uploads. Good place to show upload progress? -->
                    <!--  <div ng-file-drop="onFileSelect($files)" ng-file-drag-over-class="optional-css-class"
                          ng-show="dropSupported">drop files here</div>
                    <div ng-file-drop-available="dropSupported=true" 
                          ng-show="!dropSupported">HTML5 Drop File is not supported!</div>
                    <button ng-click="upload.abort()">Cancel Upload</button> -->
                    
                   
                    <div ng-if="imageDisplaySettings.fileSelected">
                        <label>Preview:</label>
                        <br>
                        <img height="300px" ng-src="{{imageDisplaySettings.dataUrl.image}}">
                    </div>
                    
                    <div ng-if="imageDisplaySettings.imageURLPresent">
                        <label>Preview:</label>
                        <br>
                        <img height="300px" ng-src="{{contentObject.webURL}}">
                    </div>

                </div>
          
            </accordion-group>
    

    

    

    

    

    

    

    

    

    

    

    

    
            <accordion-group heading="Select Relevant Terms">
            <h3 class='text-center'>Identify terms related to the new content.</h3> 
            <h5 class='text-center'>Think of relevant terms from each of the categories listed in the filter (as applicable)</h5>
            <h5 class='text-center'>Be sure to include terms that are both very broad, and very specific.</h5>
            <!-- TODO: add in other selection options (dropdown menu, popup menu...) -->
            <!-- TODO: add touch support for dragging buttons -->
            <!-- TODO: set up drop channels that don't accept an element coming from its own container -->
                <div ng-controller="termSelectionCtrl">
                    <div class="row margin5 f-flexC f-m-center margin20">
                        <div>
                            <suggest focus-on="suggest" ng-show="displayOptions.addingNewTerm" class='form-control' on-select="openNewTermModal(data)" input-model="DBTerm" lang="{{displayLanguage.get()}}"></suggest>
                            <input focus-on="db" ng-show="!displayOptions.addingNewTerm" type="text" class="form-control" ng-model="DBTerm" typeahead-on-select="addToSelectedFromDB()" typeahead="term as term.name for term in findTerm()" placeholder="Type term name here" >
                            <button ng-click="displayOptions.addingNewTerm = !displayOptions.addingNewTerm" class='btn btn-default btn-sm'>Change Source</button>
                            <i class='text-muted fa fa-question-circle'></i>
                        </div>
                    </div>
                    <div ui-on-Drop="" class="col-sm-12">

                        <button ng-hide="filter.isCollapsed" class="noOutline btn btn-xs btn-default marginTop10" ng-click="filter.isCollapsed = !filter.isCollapsed"> <i class="fa fa-filter"></i>  Hide Filter  <i class=' text-muted fa fa-question-circle'></i></button>
                        <button ng-show="filter.isCollapsed" class="noOutline btn btn-xs btn-default marginTop10" ng-click="filter.isCollapsed = !filter.isCollapsed"> <i class="fa fa-filter"></i>  Show Filter  <i class=' text-muted fa fa-question-circle'></i></button>

                        <div collapse="filter.isCollapsed">

                            <div  class="f-flexC f-column f-m-between f-c-center panel panel-default marginBottom0">
                                <div class="marginTop10 f-flexC f-row f-wrap f-m-center f-c-center">
                                    <button btn-checkbox class="btn margin5 btn-xs noOutline btn-default" type="button" ng-model="filter.terms.people.included">People</button>
                                    <button btn-checkbox class="btn margin5 btn-xs noOutline btn-default" type="button" ng-model="filter.terms.organizations.included">Organizations</button>
                                    <button btn-checkbox class="btn margin5 btn-xs noOutline btn-default" type="button" ng-model="filter.terms.physicalObjects.included">Physical Objects</button>
                                    <button btn-checkbox class="btn margin5 btn-xs noOutline btn-default" type="button" ng-model="filter.terms.concepts.included">Concepts</button>
                                    <button btn-checkbox class="btn margin5 btn-xs noOutline btn-default" type="button" ng-model="filter.terms.jargon.included">Jargon</button>
                                    <button btn-checkbox class="btn margin5 btn-xs noOutline btn-default" type="button" ng-model="filter.terms.disciplines.included">Disciplines</button>
                                    <button btn-checkbox class="btn margin5 btn-xs noOutline btn-default" type="button" ng-model="filter.terms.activities.included">Activities</button>
                                    <button btn-checkbox class="btn margin5 btn-xs noOutline btn-default" type="button" ng-model="filter.terms.locations.included">Locations</button>
                                    <button btn-checkbox class="btn margin5 btn-xs noOutline btn-default" type="button" ng-model="filter.terms.contentTypes.included">Content Types</button>
                                </div>
                                <div class="">
                                    <div class='margin10'>
                                        <button ng-click="filter.setAll(true)" class=" btn btn-xs btn-primary">Select All</button>
                                        <button ng-click="filter.setAll(false)" class=" btn btn-xs btn-primary">De-select All</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ui-on-Drop="recievingHandler($data, contentTerms.related)" drop-channel="noneShallPass" drag-enter-class="droppable" class='well well-sm height150'>
                            <i class='pull-right text-muted fa fa-question-circle'></i>

                            <div class="f-flexC f-row f-m-around f-wrap">
                                <span ng-hide="contentTerms.related.length > 0" class="dn-fade text-muted background h3">no related terms</span>
                                <button ui-draggable="true" on-drop-success="dropFromHandler($index,contentTerms.related)" drag="term" ng-repeat="term in contentTerms.related" class='dn-bounce above btn margin5 btn-default'>{{term.name}} <span class="badge">{{term.connections}}</span></button>
                            </div>
                        </div>   
                        <br>
                        <div ui-on-Drop="recievingHandler($data, contentTerms.selected)" drag-enter-class="droppable" class="well well-sm">
                            
                            <i class='pull-right text-muted fa fa-question-circle'></i>
                            
                            <div class="f-flexC f-row f-m-center">
                                <span ng-hide="contentTerms.selected.length > 0"class="dn-fade text-muted background h3">selected terms</span>
                                <div class="f-flexC f-row f-m-around f-wrap">
                                    <button ui-draggable="true" on-drop-success="dropFromHandler($index,contentTerms.selected)" drag="term" ng-repeat="term in contentTerms.selected" class='dn-bounce above btn margin5 btn-default'>{{term.name}}</button>
                                </div>
                            </div>
                        </div>
                
                        <div ui-on-Drop="recievingHandler($data, contentTerms.discarded)" drag-enter-class="droppable" class="well well-sm">
                            <i class='pull-right text-muted fa fa-question-circle'></i>
                            <div class="f-flexC f-row f-m-center">
                                <span ng-hide="contentTerms.discarded.length > 0" class="dn-fade text-muted background h3">discarded terms</span>
                                <div class="f-flexC f-row f-m-around f-wrap">
                                    <button ui-draggable="true" on-drop-success="dropFromHandler($index, contentTerms.discarded)" drag="term" ng-repeat="term in contentTerms.discarded" class='dn-bounce above btn margin5 btn-default btn-xs'>{{term.name}}</button>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                
                </div>
            </accordion-group>
    

    

    

    

    

    

    


            <accordion-group heading="Add Meta Information (optional)">
                <h4 class='text-center'>Some of this information will appear in the search results, the rest on the content's page.</h4>
                <div ng-controller="metaSectionCtrl">
                    
                    <div class="form-group" ng-class="{ 'has-error' : addContentForm.title.$invalid }">
                        <label>title: 
                        <span class='text-danger' ng-show="addContentForm.title.$invalid"> must be shorter than 100 characters</span></label>
                        <br>
                        <input ng-maxlength="100" class="form-control width100p" name='title' type="text" ng-model="contentObject.title">
                    </div>
                    <!-- TODO: get description (text-angular) validation working -->
                    <div class="form-group" ng-class="{ 'has-error' : addContentForm.description.$invalid }">
                        <label>description:</label>
                        <span class='text-danger' ng-show="addContentForm.description.$invalid"> must be shorter than 900 characters</span>
                        <text-angular name="description" ng-maxlength='900' ng-focus="tab.description = true" ta-toolbar="[['bold', 'italics', 'underline'],['redo', 'undo'],['insertLink', 'unlink']]" ng-model="contentObject.description"></text-angular>
                    </div>
                    <br>
                    <div class="form-group" ng-class="{ 'has-error' : addContentForm.takeAway.$invalid }">
                        <label>what should be taken away from this content?</label>
                        <span class='text-danger' ng-show="addContentForm.takeAway.$invalid"> must be shorter than 900 characters</span>
                        <text-angular name="takeAway" ng-maxlength='900' ng-focus="tab.takeAway = true" ta-toolbar="[['bold', 'italics', 'underline'],['redo', 'undo'],['insertLink', 'unlink']]" ng-model="contentObject.takeAway"></text-angular>
                    </div>
                    <div>
                        <label>source:</label>
                        <br>
                        <div class="col-md-11 col-md-offset-1">
                            <div class="form-group" ng-class="{ 'has-error' : addContentForm.sourceName.$invalid }">
                                <strong>display name:</strong>
                                <span class='text-danger' ng-show="addContentForm.sourceName.$invalid"> must be shorter than 50 characters</span>
                                <br>
                                <input ng-maxlength="50" name="sourceName" class="width100p form-control margin5" type="text" ng-model="contentObject.source.text">
                            </div>                            
                            
                            <div class="form-group" ng-class="{ 'has-error' : addContentForm.sourceLink.$invalid && !addContentForm.sourceLink.$pristine }">
                                <strong>link:</strong>
                                <span class='text-danger' ng-show="addContentForm.sourceLink.$invalid"> must be a valid URL</span>
                                <br>
                                <input name="sourceLink" class="width100p form-control margin5" type="url" ng-model="contentObject.source.url">
                            </div>
                        </div>
                    </div>

                        <!-- <div>
                            <label>relevant links</label>
                            <br>
                            <div class="col-md-11 col-md-offset-1">
                                <label>url:</label>
                                <input class="form-control width100p" type="url">
                                <label>display text:</label>
                                <input class="form-control width100p" type="text">
                                <label>description:</label>
                                <text-angular ng-model="contentObject.links[link].description" ta-toolbar="[['bold', 'italics', 'underline'],['redo', 'undo'],['insertLink', 'unlink']]"></text-angular>
                                <button class="btn btn-default"><i class='fa fa-x'></i>delete</button>
                            </div>
                            <Button class="btn btn-default btn-sm" ng-model="contentObject.links">add link</Button>
                        </div> -->
                     
                </div>

            </accordion-group>

        </accordion>
    </form>









    <div class="f-flexC f-column f-c-center f-m-center col-sm-5">
        <div class="f-flexC  f-column f-m-between cardContainer panel panel-default margin5">
            <div class="panel-heading">
                <i class="fa fa-ban pull-right"></i>
                <i class="fa fa-eye pull-right"> 0</i>
                <i class="fa fa-heart pull-right"> 0</i>
                
                <br>
                <hr ng-show="contentObject.title.length > 0" class="hr">
                <h3 class="panel-title">{{contentObject.title}}</h3>
            </div>
            <br>
            <div class="f-flexC f-column f-m-center f-c-center imgContainer">                                
                <img ng-if="imageDisplaySettings.fileSelected" ng-src="{{imageDisplaySettings.dataUrl.image}}">
                <img ng-if="imageDisplaySettings.imageURLPresent" ng-src="{{contentObject.webURL}}">                    
            </div>

            <tabset class='f-grow-1 f-flexC f-column margin10'>
                <tab active="tab.terms" heading="Terms">
                    <div class="f-flexC f-row f-wrap f-m-center ">
                        <button ng-repeat="term in contentTerms.selected"class="btn btn-default btn-sm margin5">{{term.name}}</button>
                    </div>
                </tab>
                <tab active="tab.description" heading="Description">
                    <div ng-bind-html="contentObject.description" class="margin10"></div>
                </tab>
            </tabset>           
        </div>
        <br>
        <button ng-click="submitNewContent()"class="btn btn-primary btn-large">Add Content</button>
    </div>
</div>