<div ng-controller="TabsDemoCtrl" class="flexContainer row wrap m-around c-center">

<!-- <iframe src="//www.youtube.com/embed/r-VL7NKJqcs"  height="360" width="640" frameborder="0"></iframe>
<iframe src="//www.youtube.com/embed/CN0jTnSROsk" width="640" height="360" frameborder="0" scrolling="no" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> -->
<!-- <button class="btn btn-primary" ng-click="checked = !checked;">open/close</button>
<a pageslide="left" custom_top="90px" custom_height="500px" ps-speed="0.5" ps-target="#target" size="50%" ps-open="checked" href="#target"></a>

<div id="target">            
    <p>some random content...</p>
    <a id="target-close" href="#">Click to close</a>
</div> -->
</div>

  <div class="jumbotron">
    <h1>Welcome to Oaddo.</h1>
    <div>
      <h2>omni + addo</h2>
      <h4>everything + to give, to bring, to place,  to inspire, to cause, to add, to join</h4>
    </div>
    <p>Oaddo is the easily explorable home of the most knowledge dense, intriguing, and valuable content on the web.</p>
    <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
  </div>
  <div ng-controller="buttonCtrl">
  




    <div class="">         
      <button class='btn btn-lg btn-default' ng-click="Login.open()">Login/Sign up</button>
    </div>

    <div>         
      <button class='btn btn-lg btn-default' ng-click="logout()">Logout</button>
    </div>

    <div>         
      <button class='btn btn-lg btn-default' ng-click="loggedin()">logged in?</button>
    </div>

    <div>         
      <button class='btn btn-lg btn-default' ng-click="test()">test auth route</button>
    </div>

    <div>         
      <button class='btn btn-lg btn-default' ng-click="navigateToAddContent()">add content</button>
    </div>

    <div>         
      <button class='btn btn-lg btn-default' ng-click="addTerm()">add term test</button>
    </div>

  </div>
</div>
